# Clave secreta para firmar tokens JWT de sesión
WEBUI_SECRET_KEY=tu_clave_secreta_aqui
# URL interna para conectarse al servicio Ollama
OLLAMA_BASE_URL=http://ollama:11434
# Conexión OpenAI-compatible al servicio Pipelines
OPENAI_API_BASE_URL=http://pipelines:9099
OPENAI_API_KEY=0p3n-w3bu!
OPENAI_API_BASE_URLS=http://pipelines:9099
OPENAI_API_KEYS=0p3n-w3bu!
